@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 5% 3%;
    --foreground: 0 0% 100%;

    --muted: 60 6.1% 9.6%;
    --muted-foreground: 0 0% 71%;

    --popover: 60 6.1% 9.6%;
    --popover-foreground: 0 0% 100%;

    --card: 60 6.1% 9.6%;
    --card-foreground: 0 0% 100%;

    --border: 60 4.9% 23.9%;
    --input: 214.3 31.8% 91.4%;

    --primary: 60 6.1% 9.6%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 46 63% 51%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-montserrat;
  }
  .gradient-one {
    background: rgb(203, 167, 83);
    background: -moz-linear-gradient(
      90deg,
      rgba(203, 167, 83, 0.8) 0%,
      rgba(203, 167, 83, 0) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(203, 167, 83, 0.8) 0%,
      rgba(203, 167, 83, 0) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(203, 167, 83, 0.8) 0%,
      rgba(203, 167, 83, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cba753",endColorstr="#cba753",GradientType=1);
  }
  .gradient-two {
    background: rgb(212, 212, 212);
    background: -moz-linear-gradient(
      90deg,
      rgba(212, 212, 212, 0.8) 0%,
      rgba(211, 211, 211, 0) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(212, 212, 212, 0.8) 0%,
      rgba(211, 211, 211, 0) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(212, 212, 212, 0.8) 0%,
      rgba(211, 211, 211, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4d4d4",endColorstr="#d3d3d3",GradientType=1);
  }
  .gradient-three:not(:-webkit-full-screen) {
    background: rgb(109, 89, 40);
    background: -moz-linear-gradient(
      90deg,
      rgba(109, 89, 40, 1) 0%,
      rgba(109, 89, 40, 0) 100%
    );

    background: linear-gradient(
      90deg,
      rgba(109, 89, 40, 1) 0%,
      rgba(109, 89, 40, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6d5928",endColorstr="#6d5928",GradientType=1);
  }

  .gradient-three td:first-child {
    background: -webkit-linear-gradient(
      90deg,
      rgba(109, 89, 40, 1) 0%,
      rgba(109, 89, 40, 0) 100%
    );
  }
}
